body {
    margin: 0;
    background-color: #3c2c4b;
    height: 100vh;
    overflow: hidden;
    background-image: url('../imagens/index/backgroundcog.gif');
    background-size: 2070px 1295px;
    transition: opacity 0.5s ease-in-out;
}

button:active {
    transform: scale(0.95);
    filter: brightness(0.9);
}

#logotipo {
    width: 626px;
    height: 174px;
    display: block;
    margin: 20vh auto 0 auto;
}

#botoes-container {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    justify-content: center;
    align-items: center;

    animation: flutuar 3.5s ease-in-out infinite;
    width: fit-content;
    max-width: 90vw;
}


@keyframes flutuar {
    0% {
        transform: translateX(-50%) translateY(0) rotate(-0.25deg);
    }
    50% {
        transform: translateX(-50%) translateY(-10px) rotate(0.25deg);
    }
    100% {
        transform: translateX(-50%) translateY(0) rotate(-0.25deg);
    }
}


#botoes-container button {
    background-color: #b18bd6;
    color: #ffffff;
    border: none;
    padding: 60px 120px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 30px;
}

#botoes-container button:hover {
    background-color: #9c72c2;
    scale: 1.1;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#botoes-container .voltar-btn {
    padding: 20px 20px;
    font-size: 20px;
}

#botoes-container .voltar-btn img {
    width: 100px;
    height: 100px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c2c4b;
    opacity: 1;
    pointer-events: all;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #9e63d4;
    border-radius: 20px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: white;
    scale: 1.5;
    rotate: -90deg;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup .content p {
    color: white;
}

@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shaking {
    animation: shake 0.4s;
}