* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anta", sans-serif;
}

body {
  font-family: "Anta", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #3c2c4b;
  background-image: url('../imagens/index/backgroundcog.gif');
  background-size: 2070px 1295px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;
}

button:active {
  transform: scale(0.8);
  filter: brightness(0.5);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3c2c4b;
  opacity: 1;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
  display: block;
  pointer-events: all;
}

.main-content {
  display: flex;
  flex: 1;
  position: relative;
}

.sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 20px;
  animation: flutuar 10s ease-in-out infinite;
}

.sidebar button {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background-color: #b18bd6;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.sidebar button:hover {
  background-color: #9c72c2;
  scale: 1.05;
}

.content-area {
  flex: 1;
  padding: 40px;
}

.image-switcher {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 20%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
  z-index: 10;
}

.image-switcher img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: 100%;
  object-fit: contain;
  border-radius: 20px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.bottom-bar {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 40px;
  animation: flutuar 10s ease-in-out infinite;
}

.bottom-bar button {
  padding: 20px 40px;
  font-size: 20px;
  background-color: #b18bd6;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}

.bottom-bar button:hover {
  background-color: #9c72c2;
  scale: 1.05;
}

.voltar-btn img {
  width: 100px;
  height: 100px;
}

.seta img {
  width: 50px;
  height: 50px;
}

@keyframes flutuar {
  0% {
    transform: translateY(0) rotate(-0.2deg);
  }
  50% {
    transform: translateY(-10px) rotate(0.2deg);
  }
  100% {
    transform: translateY(0) rotate(-0.2deg);
  }
}

.shaking {
  animation: shake 0.4s;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 30%;
  }

  .sidebar button,
  .bottom-bar button {
    font-size: 16px;
    padding: 15px;
  }
}
